.main {
    display: flex;
    height: 100%;
    background-color: var(--background);
}

.chatSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
    color: var(--foreground-muted);
    font-size: 1rem;
}
