:root {
  --background: #141621;
  --surface: #1c1d2b;
  --surface-hover: #3a3a4f;
  --sidebar-bg: #0d0f1c;
  --sidebar-hover: #1f2937;
  --topbar-bg: #11131f;
  --foreground: #f7f5fa;
  --foreground-muted: #c0becc;
  --border: #262936;
  --primary: #945ab5;
  --danger: #d3405f;
  --link: #c072ee;
  --transition-base: all 0.2s cubic-bezier(0.6, 0, 0.6, 1);
  --list-item-border-radius: 4px;
}

body {
    margin: 0;
    height: 100vh;
    font-family: var(--font-geist), "Segoe UI", Arial, sans-serif;
    user-select: none;
}